repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.1.0 # Replace by any tag/version: https://github.com/psf/black/tags
    hooks:
      - id: black
        args: # arguments to configure black
          - --line-length=88
        language_version: python3 # Should be a command that runs python3.6+


  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)

  # flake8
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: # arguments to configure flake8
          # making isort line length compatible with black
          - "--max-line-length=88"
          # these are errors that will be ignored by flake8
          # check out their meaning here
          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402,F811"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
        - id: insert-license
          files: "^.*py$"
          exclude: "^(docs|tests|__init__.py)"
          args:
              - --detect-license-in-X-top-lines=6

  - repo: local
    hooks:
      - id: fix-version
        name: Fix version
        entry: python scripts/fix_version.py --config setup.cfg
        files: '\.py$'
        language: system
        pass_filenames: true
        types: [python]
