.anvil-role-message-pill {
    padding: 0.5em 0 0 1em;
    border-radius: 2em;
}

.anvil-role-progress-track, .anvil-role-switch-track {
    display: block;
    width: 100%;
}

.anvil-role-progress-track > .holder, .anvil-role-switch-track > .holder, .anvil-role-progress-indicator > .holder {
    display: block !important;
}

.anvil-role-progress-indicator {
    display: block;
    top: 0 !important;
}

.anvil-role-switch-indicator {

}